#main-menu {
    font-weight: bold;
    background-color: var(--ev-nav-background);
}

#main-menu .nav-link {
    padding: auto 5px;
    margin: auto 5px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    color: var(--ev-text-light-color);
}

#main-menu .nav-link.active,
#main-menu .nav-link:hover,
#main-menu .dropdown-toggle.show {
    background-color: var(--ev-secondary-bg-color);
}

#main-menu .navbar-nav>.nav-link:after {
    content: "";
    border-radius: 50%;
    background-color: gray;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 7px;
}

#main-menu .nav-link.active:after {
    background-color: var(--ev-nav-text-color-selected);

}

#main-menu .nav-link.active {
    background-color: var(--ev-nav-selected);
    color: var(--ev-nav-text-color-selected)
}

#main-menu .nav-link:hover {
    background-color: var(--ev-nav-hover);
}

#main-menu .dropdown-menu {
    background-color: var(--ev-secondary-bg-color);
}

#main-menu .dropdown-menu a {
    color: var(--ev-default-color);
}

#main-menu .dropdown ul .dropdown-item:active,
#main-menu .dropdown ul .dropdown-item:focus,
#main-menu .dropdown ul .dropdown-item:hover {
    background-color: var(--ev-btn-hover);
}

#main-menu .dropdown ul .dropdown-item.active {
    background-color: var(--ev-btn-selected);
}

.navbar-brand {
    transition: all .2s ease-in-out;
}
.navbar-brand:hover {
    color: var(--cv-white-color);
    background: -webkit-linear-gradient(45deg, #d113b1, #0af37f, #ff5e00);
    background-size: 400% 100%;
    animation-fill-mode: forwards;
    animation-name: logoAnim;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes logoAnim {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 100% center;
    }
}