footer {
  background-color: var(--ev-secondary-bg-color);
  color: var(--ev-default-color);
}

footer h5 {
  color: var(--ev-sec-header-color);
  font-size: 1.2rem;
}

footer #main-footer-subfooter {
  background-color: #222;
}

footer ul.footer-lang-switch {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

footer ul.footer-lang-switch li {
  display: inline-block;
}

footer .dropdown-menu {
  background-color: var(--ev-secondary-bg-color);
  color: var(--ev-default-color);
}
footer .dropdown-menu .dropdown-item {
  color: var(--ev-default-color);
}


footer #secondary-footer{
  display:flex;
  flex-direction: column;
  align-items: center;
}