:root {
  --cc-height: 25px;
  --cc-width: 50px;
  --cc-padding: 3px;
}
.theme-color {
  border: 1px solid var(--ev-contrast-color);
  border-radius: 100px;
  height: var(--cc-height);
  width: var(--cc-width);
  background-color: var(--ev-main-bg-color);
  transition: all 0.2s ease-in-out;
  position: relative;
  box-sizing: content-box;
  cursor: pointer;
}

.theme-color input {
  display: none;
}

.theme-color .ball {
  border: 1px solid var(--ev-contrast-color);
  box-sizing: border-box;
  background-color: var(--ev-secondary-bg-color);
  aspect-ratio: 1/1;
  height: var(--cc-height);
  justify-content: center;
  position: absolute;
  border-radius: 100px;
  transition: 0.5s ease-in-out;
  left: 0;
  
}

.theme-color input:checked + .ball {
  left: calc(100% - var(--cc-height));
}
