.contact-form .form-floating textarea {
  height: 100px;
}

.contact-form input,
.contact-form textarea {
  background-color: transparent;
  border: 1px solid var(--ev-btn-bg);
  border-radius: 0;
  color: var(--ev-default-color);
}

.contact-form .form-floating label,
.contact-form .form-floating label {
  color: white;
}

.contact-form .form-floating input:focus,
.contact-form .form-floating textarea:focus {
  background-color: transparent;
  color: var(--ev-default-color);
}

.contact-form .form-floating>textarea:focus~label::after,
.contact-form .form-floating>textarea:not(:placeholder-shown)~label::after{
  background-color: transparent;
}