.ev-input-group input,
.ev-input-group textarea {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid var(--ev-btn-bg);
    color: var(--ev-default-color);
}

.ev-input-group input:focus,
.ev-input-group textarea:focus {
    border: 0;
    color: var(--ev-default-color);
    background-color: transparent;
}

.ev-input-group.form-floating>.form-control:focus~label::after,
.ev-input-group.form-floating>.form-control~label::after {
    background-color: var(--ev-btn-bg);

}

.ev-input-group.form-floating>.form-control:focus~label,
.ev-input-group.form-floating>.form-control~label {
    color: var(--ev-btn-text);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem var(--ev-btn-bg);
}