:root {
  --ev-main-bg-color: #2c2c2c;
  --ev-secondary-bg-color: #222;
  --ev-sec-header-color: #559cd0;
  --ev-text-light-color: #f2f2f2;
  --ev-comment-color: #6a9954;
  --ev-default-color: #ce9178;
  --ev-nav-hover: #2a2d2e;
  --ev-nav-selected: #37373d;
  --ev-nav-text-color-selected: #e2c082;
  --ev-btn-bg: #327dd0;
  --ev-btn-text: #ffffff;
  --ev-btn-bg-hover: #3b8eea;
  --ev-btn-bg-selected: #37373d;
  --ev-link-color: #9cdcfd;
  --ev-json-syntax-color: #da6fd5;
}

* {
  font-family: Console, monospace;
}

.page-grid {
  display: grid;
  grid-template-rows: 1fr auto;
  /* height: 100vh; */
}

main {
  background: #2f2f2f;
  color: var(--ev-default-color);
  padding-top: 56px;
  overflow-x: hidden;
}

/* Title Styles */
h1,
h1,
h2 {
  color: var(--ev-comment-color);
  text-transform: uppercase;
  font-weight: 300;
}

.basic-page h3,
.basic-page h4,
.basic-page h5,
.basic-page h6 {
  color: var(--ev-sec-header-color);
}

.post-page h1:before,
.basic-page h1:before {
  content: "// ";
}

.basic-page h2:before {
  content: "// -- ";
}

/* Comment element */
.comment-color {
  color: var(--ev-comment-color);
}

.comment:before {
  content: "/* ";
}

.comment:after {
  content: " */";
}

.comment {
  color: var(--ev-comment-color);
}

/* Button Elements */
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: var(--ev-btn-bg-hover);
  color: var(--ev-text-light-color);
}

.btn.btn-primary {
  background-color: var(--ev-btn-bg);
  color: var(--ev-btn-text);
  border: none;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}

.btn.btn-primary:hover:after {
  margin-left: initial;
  opacity: 1;
}

.btn.btn-primary:after {
  transition: all 0.2s ease-in-out;
  content: ">_";
  display: inline;
  position: relative;
  margin-left: -1.1em;
  opacity: 0;
}

a {
  color: var(--ev-link-color);
}

a.ev-link {
  display: inline-block;
  color: var(--ev-link-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.ev-link:hover {
  color: var(--ev-link-color);
}

a.ev-link:after {
  content: " ";
  display: block;
  height: 1px;
  background-color: var(--ev-link-color);
  width: 0px;
  transition: width 0.2s ease-in-out;
}

a.ev-link:hover:after {
  width: 100%;
}
