:root {
    --ev-main-bg-color: #2c2c2c;
    --ev-secondary-bg-color: #222;
    --ev-sec-header-color: #559cd0;
    --ev-text-light-color: #f2f2f2;
    --ev-comment-color: #6a9954;
    --ev-default-color: #ce9178;
    --ev-nav-hover: #2a2d2e;
    --ev-nav-selected: #37373d;
    --ev-nav-text-color-selected: #e2c082;
    --ev-btn-bg: #327dd0;
    --ev-btn-text: #ffffff;
    --ev-btn-bg-hover: #3b8eea;
    --ev-btn-bg-selected: #37373d;
    --ev-link-color: #9cdcfd;
    --ev-json-syntax-color: #da6fd5;
}

* {
    font-family: Console, monospace;
}

main {
    background: #2f2f2f;
    color: var(--ev-default-color);
    padding-top: 56px;
}

/* Title Styles */
.basic-page h1,
.post-page h1,
.basic-page h2 {
    color: var(--ev-comment-color);
    text-transform: uppercase;
    font-weight: 300;
}

.basic-page h3,
.basic-page h4,
.basic-page h5,
.basic-page h6 {
    color: var(--ev-sec-header-color)
}

.post-page h1:before,
.basic-page h1:before {
    content: "// ";
}

.basic-page h2:before {
    content: "// -- ";
}


/* Comment element */
.comment-color {
    color: var(--ev-comment-color);
}

.comment:before {
    content: "/* ";
}

.comment:after {
    content: " */";
}

.comment {
    color: var(--ev-comment-color)
}


/* Button Elements */
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background-color: var(--ev-btn-bg-hover);
    color: var(--ev-text-light-color);
}

.btn.btn-primary {
    background-color: var(--ev-btn-bg);
    color: var(--ev-btn-text);
    border: none;
    border-radius: 0;
    transition: all .2s ease-in-out;
}

.btn.btn-primary:hover:after {
    margin-left: initial;
    opacity: 1;
}

.btn.btn-primary:after {
    transition: all .2s ease-in-out;
    content: ">_";
    display: inline;
    position: relative;
    margin-left: -1.1em;
    opacity: 0;
}

a {
    color: var(--ev-link-color);
}

a.ev-link {
    display: inline-block;
    color: var(--ev-link-color);
    text-decoration: none;
    transition: all .2s ease-in-out;

}

a.ev-link:hover {
    color: var(--ev-link-color);
}

a.ev-link:after {
    content: " ";
    display: block;
    height: 1px;
    background-color: var(--ev-link-color);
    width: 0px;
    transition: width .2s ease-in-out;
}

a.ev-link:hover:after {
    width: 100%;
}

/* Card element*/
.card {
    background-color: var(--ev-secondary-bg-color);
    color: var(--ev-text-light-color);
}

.card .card-title {
    color: var(--ev-comment-color);
    text-transform: uppercase;
    font-weight: 300;
}

/* Language Switch */
.language-switch .lang-flag {
    height: 1.2em;
    vertical-align: sub;
}

/* Contact Section */
.contact-row ul.contact-points {
    list-style: none;
}

.contact-row ul.contact-points li {
    padding-bottom: 5px;
}

.contact-row ul.contact-points i {
    padding-right: 15px;
    width: 2em;
    font-size: 30px;
    position: relative;
    top: 6px;
    text-align: center;
}

/* Inputs */

.ev-input-group input,
.ev-input-group textarea {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid var(--ev-btn-bg);
    color: var(--ev-default-color);
}

.ev-input-group input:focus,
.ev-input-group textarea:focus {
    border: 0;
    color: var(--ev-default-color);
    background-color: transparent;
}

.ev-input-group.form-floating>.form-control:focus~label::after,
.ev-input-group.form-floating>.form-control~label::after {
    background-color: var(--ev-btn-bg);

}

.ev-input-group.form-floating>.form-control:focus~label,
.ev-input-group.form-floating>.form-control~label {
    color: var(--ev-btn-text);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem var(--ev-btn-bg);
}





footer {
    background-color: var(--ev-secondary-bg-color);
}

footer #main-footer-subfooter {
    background-color: #222;
}

footer ul.footer-lang-switch {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

footer ul.footer-lang-switch li {
    display: inline-block;
}

/* --------------------- project-grid --------------------- */
#project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 1320px;
    margin: auto;
    padding: 50px 0;
}

#project-grid .project {
    background-color: #222;
    padding: 50px;
    border-radius: 20px;
    display: grid;
}

#project-grid .project .btn.btn-primary {
    display: block;
    width: 100%;
}

.card {
    padding: 0;
    overflow: hidden;
}

.card-body {
    display: grid;
    grid-template-rows: 1fr auto;
    color: var(--ev-default-color);
}

.card-head {
    position: relative;
}

.card-head-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 4px solid var(--ev-comment-color);
    padding: 15px;
    bottom: 0;
}

.card-head-wrapper * {
    margin: 0;
}

.card-texts {
    padding-bottom: 15px;
    display: grid;
}

.card-texts .card-desc {
    grid-row: auto;
}

/* --------------------- Single Project --------------------- */

.post-page .title-wrapper>* {
    padding: 0;
    margin: 0;
}

.post-page .project-content {
    border: 0 2px solid 2px solid 2px solid;
    border-color: var(--ev-btn-bg);
}

.post-page .project-header {
    position: relative;
    padding: 0;
    box-shadow: 0 0 6px 0 black;
    overflow: hidden;
    border-radius: 20px;
}

.post-page .project-header .header-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.post-page .title-wrapper {
    position: absolute;
    bottom: 25px;
    width: auto;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    border-left: 4px solid var(--ev-comment-color);
    padding: 25px 50px 25px 50px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 20px -5px black;
    transform: translateX(-100vw);

    animation: project-title;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes project-title {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }

    70% {
        transform: translateX(20px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*  Home */
#projects-row .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}